/* Estilos generales */
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

/* Títulos */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

/* Imágenes */
.imagen {
    padding: 20px;
    border-radius: 20%;
}

/* Contenedor principal con Flexbox */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el alto de la ventana */
    padding: 20px;
}

/* Secciones con Flexbox */
section {
    flex: 1; /* Ocupa todo el espacio vertical disponible */
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    margin: 10px 0;
}

/* Estilos de secciones específicas */
.Noticias,
.Deportes,
.Negocios {
    text-align: center;
    background-color: #FFFF;
    transition: background-color 0.3s ease;
}

/* Cambio de estilo al pasar el mouse */
.Noticias:hover,
.Deportes:hover,
.Negocios:hover {
    background-color: #000;
    color: white;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 5px solid black;
}

th, td {
    padding: 8px 12px;
    border: 3px solid black;
    font-size: 18px;
}

/* Video y audio */
video, audio {
    display: block;
    margin-top: 20px;
    width: 100%;
}

/* Barra de navegación */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Agregado para transición de text-decoration */
}

nav a:link {
    color: black; /* Color de enlace normal */
    text-decoration: underline; /* Subrayado en el enlace normal */
}

a:link{
    color: black; /* Color de enlace normal */
    text-decoration: underline; /* Subrayado en el enlace normal */
}
a:hover{
    color: #ff9900; /* Color de enlace normal */
    text-decoration: none; /* Subrayado en el enlace normal */
}

nav a:hover {
    color: #ff9900;
    text-decoration: none; /* Quitar subrayado al pasar el mouse */
}

/* Banner */
.banner {
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.banner img {
    width: 60%;
    height: auto;
}

/* Footer */
.html5-icon {
    max-width: 100px;
    vertical-align: middle;
    margin-left: 10px;
}

.site-footer {
    background-color: #c9d2d0;
    color: #31231e;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

/* PARA TELEFONOS */
@media (max-width: 768px) {
    section {
        width: 100%;
        margin: 5px 0;
    }
}